{% extends './layout.html.twig' %}

{% block javascript %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.bootcss.com/techan.js/0.8.0/techan.min.js"></script>
<script src="/backtest.js?v={{ asset_version() }}"></script>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/backtest.css?v={{ asset_version() }}">
{% endblock %}

{% block content %}
    {% macro render_rows(rows) %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Price</th>
                <th scope="col">Signal</th>
                <th scope="col">Debug</th>
            </tr>

            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td style="white-space: nowrap">{{ row.time|date('y-m-d H:i:s') }}</td>
                    <td>{{ row.result.price|default }}</td>
                    <td>
                        {% if row.result.signal is defined %}
                            {% if row.result.signal == 'long' %}
                                <i class="fas fa-chevron-circle-up text-success"></i>
                            {% elseif row.result.signal == 'short' %}
                                <i class="fas fa-chevron-circle-down text-danger"></i>
                            {% elseif row.result.signal == 'close' %}
                                <i class="fa fa-times"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-muted">{{ row.result|json_encode }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endmacro %}

    {% import _self as macros %}

    <div class="container">
        <div class="chart" data-candles="{{ candles|e('html') }}"></div>
    </div>

    <div class="container">
        <h2>Signals</h2>
        {{ macros.render_rows(signals) }}

        <h2>Times</h2>
        {{ macros.render_rows(rows) }}
    </div>
{% endblock %}