<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Symbol</th>
          {% for period in periods %}
            <th scope="col">&nbsp;</th>
            <th scope="col">{{ period }} ema(55)</th>
            <th scope="col">{{ period }} ema(200)</th>
            <th scope="col">{{ period }} rsi</th>
            <th scope="col">{{ period }} cci</th>
            <th scope="col">{{ period }} awesome oscillator</th>
            <th scope="col">{{ period }} macd</th>
            <th scope="col">{{ period }} mfi</th>
            <th scope="col">{{ period }} bollinger_bands</th>
            <th scope="col">{{ period }} wicked</th>
          {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for row in rows %}
      <tr>
        <td>{{ row.symbol }}</td>

          {% for period in periods %}
              {% set ta = row.ta[period] %}
              <td>&nbsp;</td>
              <td>{{ ta.ema_55 }}</td>
              <td>{{ ta.ema_200 }}</td>
              <td class="
                {% if ta.rsi <= 30 %}text-success{% endif %}
                {% if ta.rsi >= 70 %}text-danger{% endif %}
                {% if ta.rsi > 30 and ta.rsi < 50 %}text-warning{% endif %}
                {% if ta.rsi > 50 and ta.rsi < 70 %}text-info{% endif %}
            ">{{ ta.rsi|round(2) }}</td>
              <td>{{ ta.cci|round(2) }}</td>
              <td>{{ ta.ao|round(4) }}</td>
              <td class="{% if ta.macd.macd < 0 %}text-danger{% endif %}{% if ta.macd.macd > 0 %}text-success{% endif %}">{{ ta.macd.macd|round(5) }}</td>
              <td>{{ ta.mfi|round(2) }}</td>
              <td>{{ ta.bollinger_bands.pct|round(2) }}</td>
              <td>{{ ta.wicked.top|round(2) }} / {{ ta.wicked.body|round(2) }} / {{ ta.wicked.bottom|round(2) }}</td>
          {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>


</div>

</body>
</html>