<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Dashboard | Crypto Bot{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% block stylesheet %}{% endblock stylesheet %}

    <style>
        body {
            font-size: 0.8em;
            padding-top: 70px;
        }

        nav {
            font-size: initial;
        }

        .table td,
        .table th {
            padding: .5rem;
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            .span-md {
                word-break: break-all;
            }
        }
    </style>

    {% block head %}
    {% endblock head %}
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ '/' }}">Crypto-Bot</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ '/' }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/signals' }}">Signals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/backtest' }}">Backtest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/trades' }}">Trades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/pairs' }}">Pairs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/tools/candles' }}">Candles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/logs' }}">Logs</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

<script>
    // Add Active Navigation Class Based on URL to Menu Item
    $(function () {
        let path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $('#navbarNav ul a').each(function() {
            if (this.href === path) {
                $(this).addClass('active');
            }
        });
    })
</script>
{% block javascript %}{% endblock javascript %}

</body>
</html>
